attrs==21.2.0
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-MySQL==1.5.2
Flask-MySQLdb==0.2.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysqlclient==2.0.3
pydantic==1.8.2
PyJWT==2.1.0
PyMySQL==1.0.2
pyzoom==0.1.9
requests==2.26.0
shortuuid==1.0.1
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
