{% extends "admin_layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="container"></div>
            <script>
                Highcharts.chart('container', {

                    title: {
                        text: "{{title|safe}}"
                    },

                    subtitle: {
                        text: 'as of {{subtitle|safe}}'
                    },

                    yAxis: {
                        title: {
                            text: ''
                        }
                    },

                    xAxis: {
                        accessibility: {
                            rangeDescription: 'Starting from 12am to 12pm'
                        }
                    },

                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },

                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },
                            pointStart: 0
                        }
                    },
                    series: [{
                        name: 'Hourly Appointments',
                        data: {{dataHourlyApp}}
                    }, {
                        name: 'Completed Appointment',
                        data: {{dataHourlyComApp}}
                    }],

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });

            </script>
        </div>
        <div class="col-3">
            <div class="row">
                Total Appointments <br>
                {{total}}
            </div>
            <div class="row">
                Completed Appointments <br>
                {{completedApp}}
            </div>
            <div class="row">
                Average Rating <br>
                {{avgRating}}
            </div>
            <div class="row">
                Average Meeting Time <br>
                {{avgMeetingTime}} Mins
            </div>
            <div class="row">
                Most Popular Request <br>
                {{popularRequest}}
            </div>
        </div>
    </div>
</div>
{% endblock content %}