{% extends "admin_layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            All Tutor
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Tutee Details</th>
                        <th>Last name</th>
                        <th>Date Join</th>
                        <th>Rating</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in tuteeList %}
                    <tr>
                        <td>
                            {% if i[1] %}
                            <img src="data:;base64,{{ i[1]|picdecode }}" width="25cm" height="25cm">
                            {% else %}
                            <img src="..\static\IMG\DefaultProfilePic.png" width="25cm" height="25cm">
                            {% endif %}
                            {{i[2]}}
                        </td>
                        <td>{{i[3]}}</td>
                        <td>{{i[4]|formatdt}}</td>
                        <td>
                            {% if i[5]|int > 6 %}
                            <span style="background-color: #98ff98; border-radius: 75%; padding: 5px"> HIGH </span>
                            {% elif i[5]|int > 4 %}
                            <span style="background-color: #FFFF00; border-radius: 75%; padding: 5px"> AVG </span>
                            {% else %}
                            <span style="background-color: #FF0000; border-radius: 75%; padding: 5px"> LOW </span>
                            {% endif %}
                        <td><a href="{{ url_for('adminTutee', tuteeID = i[0]) }}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}