{% extends "admin_layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="container"></div>
            <script>
                Highcharts.chart('container', {

                    title: {
                        text: "{{title|safe}}"
                    },

                    subtitle: {
                        text: 'as of {{subtitle|safe}}'
                    },

                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },

                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },
                            pointStart: 1
                        }
                    },
                    series: [{
                        name: 'Total Appointments',
                        data: {{ dataTotalApp }}
                    }, {
                        name: 'Completed Appointment',
                        data: {{ dataComApp }}
                    }],

                    responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });
            </script>
        </div>
        <div class="col-3" style="text-align: center;">
            <div class="card">
                <div class="card-header">
                    Total Appointments <br>
                    {{total}}
                </div>
                <div class="card-header">
                    Completed Appointments <br>
                    {{completedApp}}
                </div>
                <div class="card-header">
                    Average Rating <br>
                    {% if avgRating %}
                    {{avgRating}}
                    {% else %}
                    0
                    {% endif %}
                </div>
                <div class="card-header">
                    Average Meeting Time <br>
                    {% if avgMeetingTime %}
                    {{avgMeetingTime}} Mins
                    {% else %}
                    0 Mins
                    {% endif %}

                </div>
                <div class="card-header">
                    Most Popular Request <br>
                    {% if popularRequest %}
                    {{popularRequest}}
                    {% else %}
                    None
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}