{% extends "login_layout.html" %}
{% block content %}
<style>
    .alert {
        padding: 20px;
        background-color: #f44336;
        /* Red */
        color: white;
        margin-bottom: 15px;
    }
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
    .closebtn:hover {
        color: black;
    }
</style>
<div class="col">
    <div class="jumbotron jumbotron-fluid" style="padding:20px;">
        <div class="container">
            <form method="POST">
                <div class="row">
                    <h3>Sign In</h3>
                </div>
                {% if loginmsg %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{loginmsg}}
                </div>
                {% endif %}
                <div class="row" style="padding-top: 10px;">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                </div>
                <div class="row" style="padding-top: 20px;">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <div class="row" style="padding-top: 20px; padding-left: 20px;">
                    <input type="checkbox" class="form-check-input" id='checkRemember'>
                    <label class="form-check-label" for="checkRemember">Remember me next time</label>
                </div>
                <div class="row" style="padding-top: 20px;">
                    <button type="submit" class="btn btn-primary mb-3">Sign In</button>
                </div>
            </form>
            <hr class="my-4">
            <p style="text-align: center"><a href="{{ url_for('forgot_password') }}">Forgot Password?</a></p>
            <p style="text-align: center"><a href="{{ url_for('register') }}">Don't have an account? Sign up!</a></p>
        </div>
    </div>
</div>

{% endblock content %}