{% extends "tutee_layout.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-bluetheme">
                        Booking a Session
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="row">
                                <div class="col">
                                <label for="expertise">Expertise</label>
                                <select class="form-control form-control-small" name="expertise" id="expertise" style="margin-bottom: 10px;">
                                    <option selected></option>
                                    <option value="EssayWriting">Essay</option>
                                    <option value="TechnicalProposal">Technical Proposal</option>
                                    <option value="OralPresentation">Oral Presentation</option>
                                    <option value="ReaderResponse">Reader Response</option>
                                    <option value="Reflection">Reflection</option>
                                </select>

                                <label for="gender">Gender</label>
                                <select class="form-control form-control-small" name="gender" id="gender">
                                    <option selected></option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                </div>
                                <div class="col">
                                <label for="discipline">Discipline</label>
                                <select class="form-control form-control-small" name="discipline" id="discipline" style="margin-bottom: 10px;">
                                    <option selected></option>
                                    {% for discipline in disciplinelist %}
                                    <option value="{{ discipline[0] }}">{{ discipline[0] }}</option>
                                    {% endfor %}
                                </select>
                                <label for="rating">Rating</label>
                                <select class="form-control form-control-small" name="rating" id="rating">
                                    <option selected></option>
                                    {% for rating in range(11) %}
                                    <option value="{{ rating }}">{{ rating }}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                        <button type="submit" class="btn bg-bluetheme" style="margin-top: 10px;">Search</button>
                        </form>
                    </div>
                </div>
                {% block table %}
                                <div class="row">
                                    <div class="col">
                                        <table id="table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Best Matches</th>
                                                    <th>Rating</th>
                                                    <th>% Match</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i,j in tables %}
                                                {% if i is not none %}
                                                <tr>
                                                    <td>
                                                        {% if i[1] %}
                                                        <img src="data:;base64,{{ i[1]|picdecode }}" width="25cm" height="25cm">
                                                        {% else %}
                                                        <img src="..\static\IMG\DefaultProfilePic.png" width="25cm" height="25cm">
                                                        {% endif %}
                                                        {{i[2]}} {{i[3]}}
                                                    </td>
                                                    <td>
                                                        {% if i[4]|int > 7 %}
                                                        <button type="button" class="btn btn-success" style="padding: 5px">HIGH</button>
                                                        {% elif i[4]|int > 5 %}
                                                        <button type="button" class="btn btn-warning" style="padding: 5px">AVG</button>
                                                        {% elif i[4]|int > 4 %}
                                                        <button type="button" class="btn btn-danger" style="padding: 5px">LOW</button>
                                                        {% elif i[4] is none %}
                                                        <button type="button" class="btn btn-muted" style="padding: 5px">UNRATED</button>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                      {{ j }}
                                                    </td>
                                                    <td><a href="{{ url_for('tutorBooking', tutorID = i[0]) }}">Book</a></td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                {% endblock table %}
            </div>
        </div>

    </div>

{% endblock content %}
