<!DOCTYPE html>
<html>
<head>
    <!--    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">-->
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../static/code/highcharts.js"></script>
    <script src="../static/code/modules/data.js"></script>
    <script src="../static/code/modules/series-label.js"></script>
    <script src="../static/code/modules/exporting.js"></script>
    <script src="../static/code/modules/export-data.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='code/jquery.dataTables.css') }}">


    <script src="http://code.highcharts.com/maps/modules/map.js"></script>

    <!-- Additional files for the Highslide popup effect -->
    <script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
    <script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <script src="../static/code/data.js"></script>
    <script src="../static/code/exporting.js"></script>
    <script src="../static/code/export-data.js"></script>
    <script src="../static/code/Chart.js"></script>
    <script src="../static/code/Globals.js"></script>
    <script src="../static/code/graph.js"></script>
    <script src="../static/code/exporting.js"></script>
    <script src="../static/code/datatables.js"></script>


    {% if title %}
    <title>Communication Helpdesk - {{ title }}</title>
    {% else %}
    <title>Communication Helpdesk</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">

        <a class="navbar-brand mr-4" href="{{ url_for('home') }}">Communication Helpdesk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('UpdateProfile') }}">Profile</a>

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-item nav-link" href="#">Logout</a>
                </li>
            </div>
        </div>

    </nav>
</header>
<main role="main" class="container-fluid">
    {% block content %}{% endblock %}
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
