{% extends "tutee_layout.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('session_booking') }}" class="btn btn-success" style="margin-bottom: 20px;">Create new meeting</a>



                <div class="card">


                    <h5 class="card-header bg-bluetheme">
                        Upcoming Meetings
                    </h5>

                    <div class="card-body">
                        <a href="/tutor_upcoming_meeting">View all upcoming meetings</a>
                        <div class='container-fluid' id="calendar"></div>
                    </div>



                </div>

                <div class="card">
                    <h5 class="card-header bg-bluetheme">Session Details</h5>
                    <div class="card-body" id="meeting_details">

                    </div>
                </div>
            </div>
            {#            <div class="col">
                <h3>Meeting Requests</h3>
                <div class="jumbotron jumbotron-fluid" style="padding:20px;">
                    <a href="#">View all tutoring requests</a>
                    <div class='container-fluid' id="calendar_request">


                    </div>#}
            <script>
                let calendarEl = document.getElementById('calendar');
                let calendar = new FullCalendar.Calendar(calendarEl, {
                    events: [
                        {% for calendar_upcoming in calendar_upcomings %}
                            {
                                id:['{{calendar_upcoming[6]}}','{{ calendar_upcoming[7]}}'],
                                groupId: '{{ calendar_upcoming[0] + " " + calendar_upcoming[1] }}',
                                title : '{{ calendar_upcoming[5] }}',
                                start : '{{ calendar_upcoming[3] }}',
                                url: '{{ calendar_upcoming[2] }}'
                            },
                        {% endfor %}
                    ],
                    eventClick: function(info){
                        <!-- prevent default prevents redirecting to the URL-->
                        info.jsEvent.preventDefault();
{#                        alert('Event: ' + info.event.title);
                        alert('Start: ' + info.event.start);
                        alert('Zoom Link: ' + info.event.url);#}
                        var IdStatusArray = info.event.id.split(",")
                        document.getElementById("meeting_details").innerHTML=
                            "<p>"+
                            "Tutor: " + info.event.groupId + "<br>"+
                            "Title: "+ info.event.title + "<br>" +
                            "Date and Time: "+ info.event.start + "<br>"+
                            "Status: " + IdStatusArray[1]+ "<br>"+
                        "</p>"+
                        "<a href='{{ url_for('zoom_test') }}' class='btn btn-primary'>Go to Meeting</a>";

                        document.cookie="meeting_number=".concat(info.event.url);
                        document.cookie="meeting_id=".concat(IdStatusArray[0]);
                    }
                });
                calendar.render();


                {# let calendarEl_request = document.getElementById('calendar_request');
                 let calendar_request = new FullCalendar.Calendar(calendarEl_request, {
                 events: [
                     {% for calendar_request in calendar_requests %}
                     {
                     title : '{{ calendar_request.todo }}',
                     start : '{{ calendar_request.date }}',
                     url: '{{ calendar_request.zoom_link }}'
                     },
                     {% endfor %}
                 ],
                     eventClick: function(info){
                     <!-- prevent default prevents redirecting to the URL-->
                     info.jsEvent.preventDefault();
                     alert('Event: ' + info.event.title);
                     alert('Start: ' + info.event.start);
                     alert('Zoom Link: ' + info.event.url);
                 }
                 });
                 calendar_request.render();#}


            </script>
        </div>
    </div>
    </div>
    </div>
{% endblock content %}
