{% extends "tutee_layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Upcoming Meetings</h3>
            <div class="jumbotron jumbotron-fluid" style="padding:20px;">
                <div class='container-fluid' id="calendar" style="width: 50%">


                </div>
            </div>
        </div>

        <script>
                        let calendarEl = document.getElementById('calendar');
                      let calendar = new FullCalendar.Calendar(calendarEl, {
                      initialView: 'listMonth',
                      events: [
                       {% for calendar_upcoming in calendar_upcomings %}
                        {
                        title : '{{ calendar_upcoming.todo }}',
                        start : '{{ calendar_upcoming.date }}',
                         url: '{{ calendar_upcoming.zoom_link }}'
                        },
                        {% endfor %}
                      ],
eventClick: function(info){
                        <!-- prevent default prevents redirecting to the URL-->
                            info.jsEvent.preventDefault();
                            alert('Event: ' + info.event.title);
                            alert('Start: ' + info.event.start);
                            alert('Zoom Link: ' + info.event.url);
                    },
                      eventDidMount: function(info) {
                        if (info.event.extendedProps.status === 'done') {

                          // Change background color of row
                          info.el.style.backgroundColor = '#F0FFFF';

                          // Change color of dot marker
                          var dotEl = info.el.getElementsByClassName('fc-event-dot')[0];
                          if (dotEl) {
                            dotEl.style.backgroundColor = 'white';
                          }
                        }
                      }

                    });

                    calendar.render();


        </script>
    </div>
</div>
</div>
{% endblock content %}
