{% extends "tutee_layout.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid" style="padding:20px;">
                     <h3 style="text-align: center;">Upcoming Meetings</h3>
                    <a href="/tutor_upcoming_meeting">View all upcoming meetings</a>
                    <div class='container-fluid' id="calendar"></div>
                </div>
            </div>
            <div class="col">

                <div class="jumbotron jumbotron-fluid" style="padding:20px;">
                     <h3 style="text-align: center;">Meeting Requests</h3>
                    <a href="/tutor_upcoming_request">View all tutoring requests</a>
                    <div class='container-fluid' id="calendar_request">


                    </div>
                    <script>
                    let calendarEl = document.getElementById('calendar');
                    let calendar = new FullCalendar.Calendar(calendarEl, {
                    events: [
                        {% for calendar_upcoming in calendar_upcomings %}
                            {
                                id:['{{calendar_upcoming[6]}}','{{ calendar_upcoming[7]}}'],
                                groupId: '{{ calendar_upcoming[0] + " " + calendar_upcoming[1] }}',
                                title : '{{ calendar_upcoming[5] }}',
                                start : '{{ calendar_upcoming[3] }}',
                                url: '{{ calendar_upcoming[2] }}',
                                color:'{{ calendar_upcoming[8] }}',
                                display:'block'
                            },
                        {% endfor %}
                    ],
                        eventClick: function(info){
                        <!-- prevent default prevents redirecting to the URL-->
                            info.jsEvent.preventDefault();
                            alert('Event: ' + info.event.title);
                            alert('Start: ' + info.event.start);
                            alert('Zoom Link: ' + info.event.url);
                    }
                    });
                    calendar.render();


                   let calendarEl_request = document.getElementById('calendar_request');
                    let calendar_request = new FullCalendar.Calendar(calendarEl_request, {
                    events: [
                         {% for calendar_request in calendar_requests %}
                            {
                                id:['{{calendar_request[6]}}','{{ calendar_request[7]}}'],
                                groupId: '{{ calendar_request[0] + " " + calendar_request[1] }}',
                                title : '{{ calendar_request[5] }}',
                                start : '{{ calendar_request[3] }}',
                                url: '{{ calendar_request[2] }}',
                                color:'{{ calendar_request[8] }}',
                                display:'block'
                            },
                        {% endfor %}
                    ],
                        eventClick: function(info){
                        <!-- prevent default prevents redirecting to the URL-->
                        info.jsEvent.preventDefault();
                        alert('Event: ' + info.event.title);
                        alert('Start: ' + info.event.start);
                        alert('Zoom Link: ' + info.event.url);
                        if (confirm('Do you want to view this meeting request?')) {
                              // View Request
                              alert('Redirecting...');
                          //    let meetingid = {
                          //      'id': info.event.id
                         //     }
                          //      const request = new XMLHttpRequest()
                         //       request.open('POST', `/view_request/${JSON.stringify(meetingid)}`)
                          //      request.onload = () => {
                         //           const flaskMessage = request.responseText
                         //           console.log(flaskMessage)
                         //       }
                         //       request.send()
                                let url = "/view_request/";
                                window.location = url.concat(info.event.id.slice(0, -1));
                            } else {
                              // Do nothing!
                            }
                    }
                    });
                    calendar_request.render();


                    </script>
                </div>
            </div>
        </div>
    </div>
        {% endblock content %}
