{% extends "tutee_layout.html" %}
{% block content %}

    <div class="jumbotron">

        <div class="form-group" style="padding-bottom: 10px;">
            <h3 class="display-5">Profile</h3>
        </div>

        <div class="form-group">
            {% if profilePic %}
                <img src="data:;base64,{{ profilePic }}" width="100cm" height="100cm" style="border-radius:50%;">
            {% else %}
                <img src="static\IMG\DefaultProfilePic.png" width="100cm" height="100cm" style="border-radius:50%;">
            {% endif %}
        </div>
        <div class="form-group">
            <b>Name</b>
            <hr>
            {{ user[4] + " " + user[5] }}
        </div>

        <div class="form-group">
            <b>Gender</b>
            <hr>
            {{gender}}
        </div>

        <div class="form-group">
            <b>Faculty</b>
            <hr>
            {{faculty}}
        </div>

        <div class="form-group">
            <b>Discipline</b>
            <hr>
            {{degree}}
        </div>

        <div class="form-group">
            <b>Expertises</b>
            <hr>

            {% for expertise in userexpertise %}
                <button class="btn btn-sm btn-outline-primary" disabled>{{expertise}}</button>
            {% endfor %}
        </div>

        <div class="form-group">
            <b>Available Days</b>
            <hr>

            {% for time in timeslot %}
                <button class="btn btn-sm btn-outline-primary" disabled>{{time}}</button>
            {% endfor %}
        </div>

    <a class="btn btn-success" href="{{ url_for('update_profile') }}">Edit Profile</a>



    </div>
{% endblock content %}
